<html>
    <head>
    <title></title>
    </head>
    <body>
        <form action="/posts" method="POST">
            Caption:<input type="text" name="caption">
            Image URL:<input type="text" name="imageURL">
            Timestamp:<input type="datetime-local" name="timestamp">
            <input type="submit" value="Send">
        </form>
    </body>
</html>